In [1]:
from modulku import praproses_baru as stm

In [2]:
import pandas as pd

In [6]:
data = pd.read_excel("uji_non.xlsx")
komentar = data.kometar.tolist()
data.tail()

     Unnamed: 0                                 kometar
259         NaN          Anda butuh lawakan cek IG kami
260         NaN        A rafatar makin gantg wae euy...
261         NaN  @rika_2903 semoga laris dan laku keras
262         NaN     @irmaade07 wkkkk ðŸ˜‚ðŸ˜‚ðŸ˜‚ wkt'a kpn yaaa
263         NaN       Kaya koala, namain koala aja bang

In [7]:
for ix, i in enumerate(komentar):
    komentar[ix] = stm.praproses_baru(i)
    print(ix, end="")

In [8]:
data["komentar_bersih"]=komentar
data.to_excel("uji_non.xlsx")